{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Login Page</title>
    <link href="{% static '/css/forms.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="base">
      <form method="POST">
        {% if done %}
          <h1 class="title" style="color: red;">{{ msg }}</h1>
        {% else %}
          <h1 class="title">Login Page</h1>
        {% endif %}
        {% csrf_token %}
        <div>
          <div class="login">
            <span class="input">
              <input type="text" name="username" placeholder="Email | Username" id="username" required />
            </span>
            <span class="input">
              <input type="password" name="password" id="password" min_length="8" placeholder="Password [8 minimum characters]" required>        
            </span>
          </div>
          <div class="media-sites">
            <div>
              <input type="submit" class="sign-button" value="Sign In">
              <p>Don't have an account? <a href="{% url 'USER:REGISTER' %}">Register here</a>
            </div>
            <p class="or-separator">
              <span>OR</span>
            </p>
            <button class="button-platform">
              G Google
            </button>
            <button class="button-platform">
              f Facebook
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
