{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- <link -->
    <!--   rel="stylesheet" -->
    <!--   type="text/css" -->
    <!--   href="{% static '/css/base.css' %}" -->
    <!-- /> -->
    <link href="{% static '/css/forms.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="base">
      <form method="POST">
        {% csrf_token %}
        {% if done %}
        <h1 style="color: red;">{{ msg }}</h1>
        {% else %}
          <h1>Login Page</h1>
        {% endif %}
        <span class="input">
          <label for="username">Username/Email: <span>*</span></label>
          <input type="text" name="username" id="username" required />
        </span>
        <span class="input">
          <label for="password">Password: <span>*<span></label>
          <input type="password" name="password" id="password" min_length="8">        
        </span>
        <input type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
