{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add to Cart {{product.name}}</title>
    <link href="{% static 'css/addtocart.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <header>
        <i class="fa-solid fa-arrow-left"></i>
        <span class="search">
          <input type="search" />
          <button>
            <i class="fa-solid fa-search"g></i>
          </button>
        </span>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-ellipsis"></i>
      </header>
      <main>
        <div class="image">
          <img src="" alt="Image Screenshot">
        </div>
        <div>
          <div class="product-info"> 
            <h3>999</h3>
            <p>Product name</p>
            <p>Product description</p>
          </div>
          <span><i class="fa-solid fa-star"></i> Ratings</span>
          <span><i class="fa-solid fa-money-check"></i> Type of Payment</span>
          <footer>
            <span class="icons">
              <span class="image-icon">
                <i class="fa-solid fa-store"></i>
                <span>Shop</span>
              </span>                                   
              <span class="image-icon">
                <i class="fa-solid fa-comments"></i>
                <span>Messages</span>
              </span>
            </span>
            <span class="buttons">
              <button>Add to cart</button>
              <button>Buy now</button>
            </span>
          </footer>
        </div>
      </main>
    </div>
  </body>
</html>
