{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Add to Cart {{product.name}}</title>
    <!-- <link href="{% static 'css/products.css' %}" rel="stylesheet" /> -->
    <link href="{% static 'css/addtocart.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="base">
      {% include "header.html" %}
      <!-- <header> -->
      <!--   <i class="fa-solid fa-arrow-left"></i> -->
      <!--   <span class="search"> -->
      <!--     <input type="search" /> -->
      <!--     <button> -->
      <!--       <i class="fa-solid fa-search"g></i> -->
      <!--     </button> -->
      <!--   </span> -->
      <!--   <i class="fa-solid fa-cart-shopping"></i> -->
      <!--   <i class="fa-solid fa-ellipsis"></i> -->
      <!-- </header> -->
      <main>
        <div>
          <div class="image">
            <img src="{{ product.productImage.url }}" alt="Image Screenshot">
          </div>
          <div>
            <div>
              <div class="product-base">
                <div class="product-info"> 
                  <h3>₱ {{ product.price }}</h3>
                  <p>{{ product.productName }}</p>
                  <p>{{ product.productDescription }}</p>
                </div>
                <span class="bookmark">
                <i class="fa-regular fa-bookmark"></i>
                </span>
              </div>
              <span><i class="fa-solid fa-star"></i> Ratings</span>
              <span><i class="fa-solid fa-money-check"></i> Type of Payment</span>
            </div>
          </div>
        </div>
        <footer>
          <span class="icons">
            <span class="image-icon">
              <i class="fa-solid fa-store"></i>
              <span>Shop</span>
            </span>                                   
            <span class="image-icon">
              <i class="fa-solid fa-comments"></i>
              <span>Messages</span>
            </span>
          </span>
          <span class="buttons">
            <a href="{% url 'PRODUCTS:ADDEDTOCART' product.productID %}"><button>Add to cart</button></a>
            <a href=""><button onclick="location.href=\"\"">Buy now</button></a>
          </span>
        </footer>
      </main>
    </div>
    {% if valid %}
      <script>
        alert("{{valid}}")
        location.href = "{% url 'PRODUCTS:INDEX' %}"
      </script>
    {% endif %}
  </body>
</html>
