@import url("base.css");

:root {
  --header-background: #ffffff;
  --main-background: #78b3ce;
  --category-background: #c3e6f0;
  --main-color: #ffffff;
  --search-background: #ffffff;
}

body {
  > .base {
    background-color: transparent;
    /* background-color: var(--main-background); */
    width: 100%;
    height: 100%;

    > header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.75rem;
      background-color: var(--header-background);
      color: black;

      > img {
        width: 90px;
        height: 76px;
        /* aspect-ratio: 1/1; */
      }

      > nav {
        > ul {
          display: flex;
          flex-direction: row;
          list-style: none;

          > li {
            padding: 0 0.5rem;
            font-size: 1.5rem;

            > a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }

    > main {
      display: flex;
      flex-direction: column;
      /* overflow: hidden; */
      /* overflow-y: scroll; */
      padding: 0 1rem;
      width: 100%;

      > div:not(.search-section) {
        margin: 1rem 0;
      }

      > .search-section {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        position: sticky;
        z-index: 1;
        top: 0;

        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;

          > span {
            background-color: var(--search-background);
            display: flex;
            border: 1px black solid;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            width: 100%;

            > input {
              flex-grow: 1;
            }

            > button {
              padding-left: 0.5rem;
            }

            ~ .cart,
            > input,
            > button {
              font-size: 1.5rem;
              background-color: transparent;
            }
          }
          > .cart {
            padding: 0.5rem;
            margin-left: 1rem;
          }
        }
      }

      > .carousel {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16/3;
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: background-image 2s ease-in;
        /* animation: fade-in 2.75s infinite; */

        > i {
          display: flex;
          align-items: center;
          /* height: 100%; */
          padding: 1rem;
          font-size: 1.5rem;
          box-sizing: border-box;
          color: transparent;
          transition:
            background-color 0.15s ease,
            color 0.15s ease;
          margin: 1rem 0.5rem;
          border-radius: 0.25rem;

          &:hover {
            background-color: rgba(33, 33, 33, 10);
            color: white;
          }
        }

        > .content {
          /* position: absolute; */
          /* background-color: gray; */
          color: white;
          flex-grow: 1;
          overflow: hidden;
          border-radius: 0.25rem;
          height: 100%;

          > img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            animation: fade-in 1s;
            /* aspect-ratio: 16/9; */
            font-size: 3rem;
            transition: opacity 0.5s ease;
          }
        }
      }
      > .categories {
        padding: 0 4rem;

        > div {
          display: flex;
          flex-direction: column;
          background-color: var(--category-background);
          color: white;
          padding-bottom: 1rem;
          justify-content: center;
          align-items: center;
          overflow-x: hidden;

          > p {
            margin-left: 25px;
            font-size: 1.5rem;
            color: black;
            width: 100%;
          }

          > .base-category {
            background-color: var(--category-background);
            color: white;
            display: flex;
            flex-wrap: no-wrap;
            /* align-items: center; */
            /* justify-items: center; */
            /* justify-content: center; */
            /* aspect-ratio: 32/3; */
            width: 100%;
            overflow-x: scroll;
            gap: 0 1rem;
            padding: 0.5rem 1rem;

            > .category {
              display: flex;
              flex-direction: column;
              /* background-color: white; */
              color: black;
              align-items: center;
              height: 75%;
              box-sizing: border-box;
              padding: 1rem 0.75rem;
              aspect-ratio: 3/4;
              /* border: 1px black solid; */
              box-shadow: 3px 3px 5px rgba(33, 33, 33, 0.5);
              border-radius: 0.25rem;
              /* gap: 0.5rem; */
              /* &:nth-child(even) { */
              /*   margin: 0 0.5rem; */
              /* } */

              > span {
                background-color: white;
                border-radius: 50px;
                padding: 0.5rem 0.75rem;

                > img {
                  width: 3rem;
                  aspect-ratio: 1/1;
                }
              }
            }
          }
        }
      }

      > .product {
        width: 100%;
        padding: 0 4rem;

        > div {
          background-color: var(--category-background);
          width: 100%;
          display: flex;
          flex-direction: column;
          color: black;

          > .container {
            display: flex;
            flex-direction: row;
            padding: 2rem;

            > .content {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              /* background-color: white; */
              /* border: 1px black solid; */
              box-shadow: 3px 3px 5px rgba(33, 33, 33, 0.5);
              border-radius: 0.25rem;
              /* width: 10rem; */
              padding: 1rem;

              > img {
                width: 5rem;
                aspect-ratio: 1/1;
              }
              > span {
                padding: 0.5rem 0;
              }
            }
          }
        }
      }
      > .container-categories {
        display: flex;
        justify-content: center;
        max-height: 50%;

        > * {
          background-color: var(--category-background);
          color: black;
          padding: 0.5rem;
        }

        > #categories {
          width: 15%;
          list-style: none;

          > li:nth-child(even) {
            margin: 0.5rem 0;
          }
        }

        > .contents {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 60%;
          padding: 1rem;

          > .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--category-background);
            border-radius: 0.25rem;
            box-shadow: 3px 3px 5px rgba(33, 33, 33, 0.3);
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            aspect-ratio: 2/3;

            > img {
              aspect-ratio: 1/1;
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
