@import url("base.css");

:root {
  --main-background: #d0b9a7;
  --main-color: #714329;
}

body {
  > .base {
    background-color: var(--main-background);
    width: 100%;
    height: 100%;

    > header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.75rem;
      background-color: rgba(100, 100, 100, 255);
      color: white;

      > img {
        width: 90px;
        height: 76px;
        /* aspect-ratio: 1/1; */
      }

      > nav {
        > ul {
          display: flex;
          flex-direction: row;
          list-style: none;

          > li {
            padding: 0 0.5rem;

            > a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

    > main {
      display: flex;
      flex-direction: column;
      /* overflow: hidden; */
      /* overflow-y: scroll; */
      padding: 0 1rem;

      > div:not(.search-section) {
        margin: 1rem 0;
      }

      > .search-section {
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        > span {
          display: flex;
          justify-content: center;
          align-items: center;

          > span {
            border: 1px black solid;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;

            ~ .cart,
            > input,
            > button {
              font-size: 1.5rem;
              background-color: transparent;
            }
          }
          > .cart {
            padding: 0.5rem;
            margin-left: 1rem;
          }
        }
      }

      > .carousel {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        aspect-ratio: 16/4;
        box-sizing: border-box;
        width: 100%;
        background-color: gray;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: background-image 2s ease-in;
        /* animation: fade-in 2.75s infinite; */

        > i {
          display: flex;
          align-items: center;
          /* height: 100%; */
          padding: 1rem;
          font-size: 1.5rem;
          box-sizing: border-box;
          color: transparent;
          transition:
            background-color 0.15s ease,
            color 0.15s ease;
          margin: 1rem 0.5rem;
          border-radius: 0.25rem;

          &:hover {
            background-color: rgba(33, 33, 33, 10);
            color: white;
          }
        }

        > .content {
          /* position: absolute; */
          /* background-color: gray; */
          color: white;
          flex-grow: 1;
          overflow: hidden;
          border-radius: 0.25rem;
          height: 100%;

          > img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            animation: fade-in 1s;
            /* aspect-ratio: 16/9; */
            font-size: 3rem;
            transition: opacity 0.5s ease;
          }
        }
      }

      > .categories {
        background-color: gray;
        color: white;

        > .base-category {
          display: flex;
          flex-wrap: no-wrap;
          align-items: center;
          justify-content: space-evenly;
          aspect-ratio: 32/3;
          width: 100%;
          padding: 0 0.5rem;

          > .category {
            background-color: rgb(200, 200, 200);
            color: white;
            height: 75%;
            aspect-ratio: 1/1;
            border: 1px black solid;

            &:nth-child(even) {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
